{{define "content" -}}
  <main>
    <h1>{{ .DateFormatted }}</h1>
      {{range $title, $item := .FeedData}}
        <h2>{{$title}}</h2>
        {{range $_, $i := $item}}
          <div>
            <a href="{{$i.Link}}">{{$i.Title}}</a><span> &#8212; {{$i.Published}}</span>
            <p>{{$i.Description}}</p>
          </div>
        {{end}}
      {{end}}
  </main>
{{end}}
